@using System.Web.UI.WebControls
@using SIMPEDA_V01.Controllers
@model IEnumerable<SIMPEDA_V01.Models.Sepeda>

<br/><br/>
@{
    ViewBag.Title = "Shelter";
}

<br/><br/><br/>
<h2> @ViewBag.namaShelter </h2>
<h3> Lokasi : @ViewBag.lokasiShelter </h3>

<table class="table">
    <tr>
        <th>
            Merk Sepeda
        </th>
        <th>
            Warna Sepeda
        </th>
        <th>
           Status Tersedia
        </th>
        <th>
           Keterangan
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.merkSepeda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.warnaSepeda)
        </td>
        <td>
            @if (item.ketersediaan.Equals(0))
            {
                <h5>Kosong</h5>
            }
            else
            {
                <h5>Tersedia</h5>
                
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.keterangan)
        </td>
        <td>
            <input type="submit" value="Details" class="btn btn-default" onclick="location.href='@Url.Action("Details", "Sepeda", new { id = item.idSepeda })'" />
            <input type="submit" value="Pinjam" id="@ViewBag.idSepeda" class="btn btn-default" onclick=" location.href = '@Url.Action("Create", "Transaksi", new { idShelter = item.idShelter, idSepeda = item.idSepeda })' " />
        </td>
    </tr>
}

</table>
