@model SIMPEDA_V01.Models.Pegawai

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Pegawai</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.idPegawai)
    
            <div class="form-group">
                @Html.LabelFor(model => model.idJurusan, "idJurusan", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("idJurusan", String.Empty)
                    @Html.ValidationMessageFor(model => model.idJurusan)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.namaPegawai, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.namaPegawai)
                    @Html.ValidationMessageFor(model => model.namaPegawai)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.jabatan, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.jabatan)
                    @Html.ValidationMessageFor(model => model.jabatan)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.teleponPegawai, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.teleponPegawai)
                    @Html.ValidationMessageFor(model => model.teleponPegawai)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.alamatPegawai, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.alamatPegawai)
                    @Html.ValidationMessageFor(model => model.alamatPegawai)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.emailPegawai, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.emailPegawai)
                    @Html.ValidationMessageFor(model => model.emailPegawai)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.poinPunishmetPegawai, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.poinPunishmetPegawai)
                    @Html.ValidationMessageFor(model => model.poinPunishmetPegawai)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.barcodeImagePegawai, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.barcodeImagePegawai)
                    @Html.ValidationMessageFor(model => model.barcodeImagePegawai)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.barcodePegawai, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.barcodePegawai)
                    @Html.ValidationMessageFor(model => model.barcodePegawai)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
