@model IEnumerable<SIMPEDA_V01.Models.Transaksi>
@{string newid = null;
  string url = null;}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CekSepeda</title>
</head>
    <body>
         <br/><br/>
              <center><h2>Pengecekan Sepeda</h2></center>
        @newid
        <table class="table">
            <tr>
                <th>
                    Id Sepeda
                </th>
                <th>
                    Id Mahasiswa
                </th>
                <th>
                    Id Dosen
                </th>
                <th>
                    Id Pegawai
                </th>
                      </tr>
        @foreach (var item in @ViewBag.sepeda) {
                <tr>
                    <td>
                        @item.idSepeda
                     </td>
                    <td>
                        @item.idPeminjamMhs
                     </td>
                    <td>
                        @item.idPeminjamDosen
                     </td>
                    <td>
                        @item.idPeminjamPegawai
                    </td>
               
                    @{if (string.IsNullOrEmpty(item.idPeminjamMhs) && string.IsNullOrEmpty(item.idPeminjamDosen))
                      { newid = item.idPeminjamPegawai; url = "Pegawai";}
                      else if (string.IsNullOrEmpty(item.idPeminjamDosen) && string.IsNullOrEmpty(item.idPeminjamPegawai))
                      { newid = item.idPeminjamMhs; url = "Mahasiswa";}
                      else
                      { newid = item.idPeminjamDosen; url = "Dosen";}
                
                        <td>
                            <a href="@Url.Action("DetailsSms", url, new{id=newid})">Details</a>
                        </td>
                    }
                </tr>
                 
        }
        </table>   
        <a href="@Url.Action("tambahPoin", "Transaksi")" /> Cek Final </a>
            
    </body>
</html>
