@model SIMPEDA_V01.Models.Transaksi

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Transaksi</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idTransaksi)

        <div class="form-group">
            @Html.LabelFor(model => model.idPeminjamDosen, "idPeminjamDosen", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.idPeminjamDosen,new { @readonly = "true"})
                @Html.ValidationMessageFor(model => model.idPeminjamDosen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idPeminjamPegawai, "idPeminjamPegawai", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.idPeminjamPegawai,new { @readonly = "true"})
                @Html.ValidationMessageFor(model => model.idPeminjamPegawai)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idPeminjamMhs, "idPeminjamMhs", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.idPeminjamMhs,new { @readonly = "true"})
                @Html.ValidationMessageFor(model => model.idPeminjamMhs)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idSepeda, "idSepeda", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.idSepeda,new { @Value=ViewBag.idSepeda, @readonly = "true"})
                @Html.ValidationMessageFor(model => model.idSepeda)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.waktuPinjam, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.waktuPinjam)
                @Html.ValidationMessageFor(model => model.waktuPinjam)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.waktuKembali, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.waktuKembali,new { @Value=ViewBag.tanggalKembali, @readonly = "true"})
                @Html.ValidationMessageFor(model => model.waktuKembali)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.status)
                @Html.ValidationMessageFor(model => model.status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.shelterKembali, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.shelterKembali)
                @Html.ValidationMessageFor(model => model.shelterKembali)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
