@model SIMPEDA_V01.Models.Mahasiswa

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailsSms</title>
</head>
<body>
    <div>
        <h4>Mahasiswa</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.namaMhs)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.namaMhs)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.teleponMhs)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.teleponMhs)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.alamatMhs)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.alamatMhs)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.emailMhs)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.emailMhs)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.poinPunishmentMhs)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.poinPunishmentMhs)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.barcodeImageMhs)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.barcodeImageMhs)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.barcodeMhs)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.barcodeMhs)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.JurusanInstansi.namaJurusan)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JurusanInstansi.namaJurusan)
            </dd>
    
        </dl>
    </div>
    <br/><br/><br/><br/>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.NRP }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

   <div class="form-group">
     <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Kirim SMS" class="btn btn-default" onclick="alert('SMS telah dikirim')"/>
     </div>
   </div>
   
</body>
</html>
